@import "tailwindcss";

@font-face {
	font-family: Lexend;
	src:
		url(/Lexend.woff2) format("woff2"),
		url(/Lexend.ttf) format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Azeret Mono";
	src:
		url(/AzeretMono.woff2) format("woff2"),
		url(/AzeretMono.ttf) format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Sofia Sans";
	src:
		url(/SofiaSans.woff2) format("woff2"),
		url(/SofiaSans.ttf) format("truetype");
	font-display: swap;
}

*:not(code) {
	font-family: Lexend, sans-serif;
}

code {
	font-family: "Azeret Mono", monospace;
}

body {
	/* background: rgb(17, 19, 22); */
	@apply bg-mist-900;
	color: white;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

a:not(.btn) {
	@apply underline text-yellow-300 hover:text-yellow-400 active:text-yellow-200 transition-colors;
}

.btn {
	@apply cursor-pointer transition-colors no-underline rounded-lg px-4 py-2;
}

p {
	@apply text-pretty;
}

form fieldset {
	display: flex;
	flex-direction: column;
	@apply pb-6;

	& label {
		@apply pb-2;
	}

	/* apply to label next to required inputs */
	&:has(input[required]) label::after,
	&:has(select[required]) label::after,
	&:has(textarea[required]) label::after {
		content: "*";
		@apply text-red-500;
	}
	&:not(:has(input[required])):not(:has(select[required])):not(
			:has(textarea[required])
		)
		label::after {
		content: " (optional)";
		@apply text-sm text-neutral-400;
	}
}

/* style file browse input "Browse..." section */

input[type="file"]::file-selector-button {
	@apply font-bold pr-4;
}

input[type="file"],
select {
	@apply w-100;
}

input,
textarea,
select {
	@apply bg-stone-900 border border-neutral-500 rounded-lg px-4 py-2;
}

select,
input[type="file"] {
	cursor: pointer;
}

details:hover:not([open]) {
	@apply bg-stone-900;
}

input[type="checkbox"] {
	@apply w-4 h-4 cursor-pointer;
}

h1,
h2,
h3 {
	font-family: "Sofia Sans", Lexend, sans-serif;
	font-weight: 1000;
}

h1 {
	@apply text-5xl pb-4 text-[#f7df1e];
}

h2 {
	@apply text-4xl pb-4 underline decoration-[#f7df1e];
}

h3 {
	@apply text-3xl pb-4;
}
